<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{{ .base_path }}/style.css">
    <link rel="icon" type="image/x-icon" href="{{ .base_path }}/favicon.ico">
    <link rel="icon" type="image/png" href="{{ .base_path }}/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ .base_path }}/favicon-32x32.png" sizes="32x32">
</head>
<body>
{{ with .message }}
    <div class="alert error">{{ . }}</div>
{{ end }}
<form method="post" action="{{ .query }}" style="max-width: 240px; margin: 0 auto; display: flex; flex-direction: column;">
    {{- if .code_required }}
    <input type="text" name="code" placeholder="Code" pattern="[ 0-9]+" autocomplete="off" autofocus required>
    <small><a href="setup-2fa?client_id={{ .client_id }}&login_query={{ .login_query_base64 }}">Device or key lost?</a></small>
    <button type="submit" style="margin: 1em auto;">Verify</button>
    {{- else }}
    <input type="text" name="user_id" placeholder="Username"{{ with .user_id }} value="{{ . }}" {{ end }}autofocus required>
    <input type="password" name="password" placeholder="Password" required>
    {{- if .password_reset_enabled}}
    <small><a href="resetpasswd{{ with .user_id }}?user_id={{ . }}{{ end }}">Forgot your password?</a></small>
    {{- end }}
    <button type="submit" style="margin-top: 1em;">Login</button>
    {{- end }}
</form>
</body>
</html>
