<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Two-factor authentication (2FA)</title>
    <link rel="stylesheet" href="{{ .base_path }}/style.css">
    <link rel="icon" type="image/png" href="{{ .base_path }}/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ .base_path }}/favicon-32x32.png" sizes="32x32">
</head>
<body>
<h1>Two-factor authentication (2FA)</h1>

{{ with .error_message }}
    <div style="color: salmon; margin-bottom: 2em;">{{ . }}</div>
{{ end }}

{{ if .generated_recovery_code }}
    <p>
        Two-factor authentication (2FA) using time-based one-time password (TOTP) hat been enabled. Please securely store the generated recovery code: <code style="font-weight: bold">{{ .generated_recovery_code }}</code>
    </p>
{{ if .post_setup_continuation_uri }}
    <div>
        <a href="{{ .post_setup_continuation_uri }}">Continue</a>
    </div>
{{ end }}
{{ else }}

<p>
    Two-factor authentication (2FA) using time-based one-time password (TOTP) {{ if .require_2fa }} is required{{ if not .user_2fa_enabled }} but{{ else }} and{{ end }}{{ end }}{{ if not .user_2fa_enabled }} <strong>not</strong>{{ end }} enabled.
</p>

{{ if or (and (not .user_2fa_enabled) (not .readonly_otpauth_store)) (and .user_2fa_enabled .readonly_otpauth_store) }}
<h2 id="step1">Step 1: Install one of the following apps on your mobile device</h2>
<ul>
    <li>Android
        <ul>
            <li><a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Google Authenticator</a> (recommended)</li>
            <li><a href="https://play.google.com/store/apps/details?id=com.twofasapp" target="_blank">2FA Authenticator (2FAS)</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.ibm.security.verifyapp" target="_blank">IBM Verify</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.lastpass.authenticator" target="_blank">LastPass Authenticator</a></li>
            {{ if and (eq .algorithm "sha1") (eq .digits "6") -}}
            <li><a href="https://play.google.com/store/apps/details?id=com.azure.authenticator" target="_blank">Microsoft Authenticator</a> (SHA1 and 6 digits only)</li>
            {{- end }}
            <li><a href="https://play.google.com/store/apps/details?id=de.ncp.authenticator.totp" target="_blank">NCP Authenticator</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=oracle.idm.mobile.authenticator" target="_blank">Oracle Mobile Authenticator</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp" target="_blank">FreeOTP Authenticator (Red Hat)</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.sap.csi.authenticator" target="_blank">SAP Authenticator</a></li>
        </ul>
    </li>
    <li>iOS
        <ul>
            <li><a href="https://apps.apple.com/app/google-authenticator/id388497605" target="_blank">Google Authenticator</a> (recommended)</li>
            <li><a href="https://apps.apple.com/app/2fa-authenticator-2fas/id1217793794" target="_blank">2FA Authenticator (2FAS)</a></li>
            <li><a href="https://apps.apple.com/app/ibm-verify/id1162190392" target="_blank">IBM Verify</a></li>
            <li><a href="https://apps.apple.com/app/lastpass-authenticator/id1079110004" target="_blank">LastPass Authenticator</a></li>
            {{ if and (eq .algorithm "sha1") (eq .digits "6") -}}
            <li><a href="https://apps.apple.com/app/microsoft-authenticator/id983156458" target="_blank">Microsoft Authenticator</a> (SHA1 and 6 digits only)</li>
            {{- end }}
            <li><a href="https://apps.apple.com/app/ncp-authenticator/id1483468626" target="_blank">NCP Authenticator</a></li>
            <li><a href="https://apps.apple.com/app/oracle-mobile-authenticator/id835904829" target="_blank">Oracle Mobile Authenticator</a></li>
            <li><a href="https://apps.apple.com/app/freeotp-authenticator/id872559395" target="_blank">FreeOTP Authenticator (Red Hat)</a></li>
            <li><a href="https://apps.apple.com/app/sap-authenticator/id868171828" target="_blank">SAP Authenticator</a></li>
        </ul>
    </li>
</ul>
{{ end }}

{{ if or (and (not .readonly_otpauth_store) (not .user_2fa_enabled)) (and .readonly_otpauth_store .user_2fa_enabled) }}
<h2 id="step2">Step 2: Open the app and scan the QR code or enter the listed parameters manually</h2>
{{ if not .user_2fa_enabled }}
<form method="post" action="{{ .query }}#step2" id="algfrm">
    <input type="hidden" name="digits" value="{{ .digits }}">
</form>
<form method="post" action="{{ .query }}#step2" id="digfrm">
    <input type="hidden" name="algorithm" value="{{ .algorithm }}">
</form>
<div style="display: flex;">
    <button type="submit" form="algfrm" name="algorithm" value="sha1"{{ if eq .algorithm "sha1" }} disabled{{ end }}>SHA1</button>
    <button type="submit" form="algfrm" name="algorithm" value="sha256"{{ if eq .algorithm "sha256" }} disabled{{ end }}>SHA256</button>
    <button type="submit" form="algfrm" name="algorithm" value="sha512"{{ if eq .algorithm "sha512" }} disabled{{ end }}>SHA512</button>

    <button type="submit" style="margin-left: auto" form="digfrm" name="digits" value="6"{{ if eq .digits "6" }} disabled{{ end }}>6 digits</button>
    <button type="submit" form="digfrm" name="digits" value="8"{{ if eq .digits "8" }} disabled{{ end }}>8 digits</button>
</div>
{{ end }}
<div style="margin: 1em auto; width: fit-content;">
    <img src="{{ .qrcode }}" alt="qrcode">
</div>
<table>
    <tr>
        <th>Type</th>
        <td>TOTP</td>
    </tr>
    <tr>
        <th>Algorithm</th>
        <td>{{ .algorithm | upper }}</td>
    </tr>
    <tr>
        <th>Digits</th>
        <td>{{ .digits }}</td>
    </tr>
    <tr>
        <th>Period</th>
        <td>30s</td>
    </tr>
    <tr>
        <th>Secret</th>
        <td><code>{{ .secret }}</code></td>
    </tr>
</table>
{{ end }}
{{ if and (not .user_2fa_enabled) (not .readonly_otpauth_store) }}
<h2 id="step3">Step 3: Enter the one-time code generated by the app and click Enable to finish the setup.</h2>
<form method="post" action="{{ .query }}">
    <input type="hidden" name="algorithm" value="{{ .algorithm }}">
    <input type="hidden" name="digits" value="{{ .digits }}">
    <input type="hidden" name="secret" value="{{ .secret }}">
    <input type="text" name="code" placeholder="Code" pattern="[ 0-9]+" autocomplete="off" required>
    <button type="submit" style="margin: 1em auto;">Enable</button>
</form>
{{ end }}
{{ if and .user_2fa_enabled (not .readonly_otpauth_store) }}
    <form method="post" action="{{ .query }}">
        <input type="text" name="recovery_code" placeholder="Recovery code" pattern="[ 1-9A-Z]+" autocomplete="off" required>
        <button type="submit" style="margin: 1em auto;">Disable</button>
    </form>
{{ end }}

{{ end }}

<div style="text-align: right"><small>{{ .version }}</small></div>
</body>
</html>
